<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="google-site-verification" content="I5EuJ65fz5rmHhVSVdUyshKD2DTIpHiweB6vg76svhI" />

  <title>Ben Denzer - Dev Test</title>

  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="round-about.css" rel="stylesheet">
  <link rel="stylesheet" href="css/placesStyles.css" media="all">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Google Places Near You - Ben Denzer</a>
      </div>
    </div>
  </nav>

  <div class="container" id="main">
    <div class="row" id="mainContent">
      <div class="col-xs-12" id="bigLoaderContainer"></div>

      <% for (var i = 1; i <= 9; i++) { %>
        <div class="col-xs-4 text-center">
          <a data-toggle="modal" data-target=".myModal">  
            <img class="img-circle img-responsive img-center" id="img-<%=i%>" src="" alt="">
          </a>  
          <h3 id="heading-<%=i%>"></h3>
        </div>
      <% } %>

    </div>

    <div class="modal fade myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modal-title" class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <p id="modal-address"></p>
            <p id="modal-phone"></p>
            <p id="modal-website"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>
  <script src="js/placesClient.js"></script>
  <script src="jquery.js"></script>
  <script src="bootstrap.min.js"></script>
</body>
</html>
